body{
	font-family: Courier New, sans-serif;
	margin-left:5%;
	margin-right:5%;
	
	background-size:100px;
	background-image:url(https://i.pinimg.com/originals/2a/b1/c3/2ab1c37cfdff720c6de2ddb07328f145.jpg);
	color:rgb(250,250,250);
}

h1, #logo{
	text-align: center;
	font-size: 70px;
	margin-top:-30px;
}

h2{
	margin-top:-6px;
	margin-bottom:-6px;
	font-size: 30px;
	text-align: center;
	padding: 5px;
} 

h3{
	font-size: 30px;
	text-align: center;
	padding: 5px;
} 

h4{
	margin-top:20px;
	font-size: 30px;
	margin-bottom:-10px;
}

p{
	font-size: 25px;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: rgb(20,225,100);
}

hr{
	border:1px solid rgb(20,225,100);
	border-radius:50%;
}

#login{
	border:1px solid rgb(20,225,100);
	padding-left:30px;
	width:50%;
}

#story{
	width:100%;
	height:500px;
}

#login_logout_button{
	text-align:right;
	padding-top:10px;
}

#login_logout_button button, .loginbutton{
	height:50px;
	width:100px;
	border-radius:25px;
}

.textfield{
	height:30px;
	width:50%;
	font-size:20px;
	border-radius:25px;
	padding-left:10px;
}

#date{
	font-size:15px;
}

.story-container{
	border:1px solid rgb(20,225,100);
	padding-left:30px;
	padding-right:30px;
	background-image: linear-gradient(to left, rgba(20,225,100,0.3) , rgba(255,255,255,0.1));
}

form{
	padding: 10px;
}