<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>
		{% if loginstatus %}
		YOU ARE LOGGED IN.
		{% else %}
			YOU ARE NOT LOGGED IN.
		{% endif %}

		{% if loginstatus %}
		<a href="/logout">
			<button>Logout</button>
		</a>
		{% else %}
		<a href="/login">
			<button>Login</button>
		</a>
		{% endif %}
		<h1>Minecraft Story Mode</h1>
		<h2>
			<a href="/">Home</a> |
			<a href="/aboutus">About Us</a> |
			<a href="/donate">Donate</a> | 
			<a href="/newstory">New Story</a> |
			<a href="/editstory">Edit Story</a> |
			<a href="/profile">Profile</a> 
		</h2>
		<p>We Are STEVE...</p>
	</body>
</html>