<!DOCTYPE html>
<html>
	<head>
		<title>Edit Story</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>

		<h1>Minecraft Story Mode</h1>

        <h2>
            <a href="/">Home</a> |
            <a href="/aboutus">About Us</a> |
            <a href="/donate">Donate</a> | 
            <a href="/newstory">New Story</a> |
            <a href="/editstory">Edit Story</a> |
            <a href="/profile">Profile</a> 
        </h2>

		<p>
            {{failmsg}}
        </p>
        {% if loginstatus %}
            <form method="POST">
            {% for story in flask_list_stories %}
                <p><input type=submit value={{story[1]}} name="title"></p>
            {% endfor %}
            </form>

            <form method="POST">
                <p>
                    Story:<br><br>
                    <textarea id="story" type=text name=addition rows="5" cols="33" placeholder="What happens next?"></textarea>
                </p>
                <input type=submit value="Submit!">
            </form>
        {% else %}
            You must be logged in to use this feature.
        {% endif %}
	</body>
</html>
