<!DOCTYPE html>
<html>
	<head>
		<title>Edit Story</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>
        <div id="login_logout_button">
            {% if loginstatus %}
            <a href="/logout">
                <button>Logout</button>
            </a>
            {% else %}
            <a href="/login">
                <button>Login</button>
            </a>
            {% endif %}
        </div>

		<center><a href="/"><img id="logo" src="https://static1.textcraft.net/data1/2/2/22c3230bf0afe9d61ac223dbce287185c1f01b36da39a3ee5e6b4b0d3255bfef95601890afd80709da39a3ee5e6b4b0d3255bfef95601890afd8070905ccb9558d135c6627fbe265fa4dab9d.png"></a></center>

        <hr><h2>
            <a href="/">Home</a> |
            <a href="/aboutus">About Us</a> |
            <a href="/donate">Donate</a> | 
            <a href="/newstory">New Entry</a> |
            <a href="/editstory">Edit Entries</a> |
            <a href="/search">Search</a> |
            <a href="/profile">Profile</a> 
        </h2><hr>

        {% if loginstatus %}
        <h3>Choose an entry:</h3>
        {% for story in flask_list_stories %}
        <p><a href=/editstory?id={{story[3]}}>{{story[1]}}</a></p>
        {% endfor %}
		<p>
            {{failmsg}}
        </p>
        
            {% if story_is_selected %}
            <form method="POST">
                <p>
                    Entry: {{selected_story}}<br><br>
                    <textarea style="resize:vertical;" id="story" type=text name=addition rows="5" cols="33" placeholder="What happens next?">{{current_story_stuff}}</textarea>
                </p>
                <input class="loginbutton" type=submit value="Submit!">
            </form>
            {% endif %}
        {% else %}
            <center><p>You must be logged in to use this feature.</p></center>
        {% endif %}
	</body>
</html>
