<!DOCTYPE html>
<html>
	<head>
		<title>Minecraft Blogs</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>
		<div style="text-align:right;">
			{% if loginstatus %}
				Welcome, {{username}}
			{% else %}
				You are not logged in.
			{% endif %}
		</div>
		<div id="login_logout_button">
			{% if loginstatus %}
	        <a href="/logout">
	            <button>Logout</button>
	        </a>
	        {% else %}
	        <a href="/login">
	            <button>Login</button>
	        </a>
	        {% endif %}
	    </div>

		<center><a href="/"><img id="logo" src="https://static1.textcraft.net/data1/2/2/22c3230bf0afe9d61ac223dbce287185c1f01b36da39a3ee5e6b4b0d3255bfef95601890afd80709da39a3ee5e6b4b0d3255bfef95601890afd8070905ccb9558d135c6627fbe265fa4dab9d.png"></a></center>

		<hr><h2>
            <a href="/">Home</a> |
            <a href="/aboutus">About Us</a> |
            <a href="/donate">Donate</a> | 
            <a href="/newstory">New Entry</a> |
            <a href="/editstory">Edit Entries</a> |
            <a href="/search">Search</a> |
            <a href="/profile">Profile</a> 
        </h2><hr>

		<h3>Recent Posts</h3>

		{% for story in flask_list_stories %}
		<div class="story-container">
			<h4><a href=/stories?id={{story[3]}}>{{story[1]}} </a><a href=/profile?id={{story[0]}}>by {{story[0]}}</a></h4>
			<p id="date">{{story[4]}}</p>
			<p>{{story[2]}}</p>
		</div>
		{% endfor %}
	</body>
</html>
