<!DOCTYPE html>
<html>
	<head>
		<title>Minecraft Story Mode</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>
		<div style="text-align:right;">
			{% if loginstatus %}
				Welcome, {{username}}
			{% else %}
				You are not logged in.
			{% endif %}
		</div>
		<div id="login_logout_button">
			{% if loginstatus %}
	        <a href="/logout">
	            <button>Logout</button>
	        </a>
	        {% else %}
	        <a href="/login">
	            <button>Login</button>
	        </a>
	        {% endif %}
	    </div>

		<h1>Minecraft Story Mode</h1>

		<hr><h2>
			<a href="/">Home</a> |
			<a href="/aboutus">About Us</a> |
			<a href="/donate">Donate</a> | 
			<a href="/newstory">New Story</a> |
			<a href="/editstory">Edit Story</a> |
			<a href="/profile">Profile</a> 
		</h2><hr>

		<h3>Recent Stories</h3>

		{% for story in flask_list_stories %}
		<div class="story-container">
			<h4><a href=/stories?id={{story[3]}}>{{story[1]}} by {{story[0]}}</a></h4>
			<p id="date">{{story[4]}}</p>
			<p>{{story[2]}}</p>
		</div>
		{% endfor %}
	</body>
</html>
