<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>
        <div id="login_logout_button">
            <a href="/">
                <button>Back to Home</button>
            </a>
        </div>


		<center><img id="logo" src="https://static1.textcraft.net/data1/2/2/22c3230bf0afe9d61ac223dbce287185c1f01b36da39a3ee5e6b4b0d3255bfef95601890afd80709da39a3ee5e6b4b0d3255bfef95601890afd8070905ccb9558d135c6627fbe265fa4dab9d.png"></center>

		<p id="failmsg">
            {{failmsg}}
        </p>

		<form id = "login" method="POST">
            <p>
                Username:
                <input class="textfield" type=text name=username>
            </p>
            <p>
                Password:
                <input class="textfield" type=password name=password>
            </p>
            <p><a href="/signup">New user? Sign up here.</a></p>
            <input class="loginbutton" type=submit value=Login>
        </form>
	</body>
</html>
