<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>
        <div id="login_logout_button">
            {% if loginstatus %}
            <a href="/logout">
                <button>Logout</button>
            </a>
            {% else %}
            <a href="/login">
                <button>Login</button>
            </a>
            {% endif %}
        </div>

		<center><a href="/"><img id="logo" src="https://i.imgur.com/FyquTLp.png"></a></center>

        <hr><h2>
            <a href="/">Home</a> |
            <a href="/aboutus">About Us</a> |
            <a href="/donate">Donate</a> | 
            <a href="/newstory">New Entry</a> |
            <a href="/editstory">Edit Entries</a> |
            <a href="/search">Search</a> |
            <a href="/profile">Profile</a> 
        </h2><hr>
        
		<p>	{% if loginstatus %}
			<p>Username: {{username}}</p>
			<p>Entries: {{number_stories}}</p>
            {% for story in flask_list_stories %}
            <div class="story-container">
                <h4><a href=/stories?id={{story[3]}}>{{story[1]}} by {{story[0]}}</a></h4>
                <p id="date">{{story[4]}}</p>
                <p>{{story[2]}}</p>
            </div>
            {% endfor %}
		{% else %}
			Please login.
		{% endif %}</p>
	</body>
</html>