<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>
        <div id="login_logout_button">
            {% if loginstatus %}
            <a href="/logout">
                <button>Logout</button>
            </a>
            {% else %}
            <a href="/login">
                <button>Login</button>
            </a>
            {% endif %}
        </div>

		<h1>Minecraft Story Mode</h1>

        <hr><h2>
            <a href="/">Home</a> |
            <a href="/aboutus">About Us</a> |
            <a href="/donate">Donate</a> | 
            <a href="/newstory">New Story</a> |
            <a href="/editstory">Edit Story</a> |
            <a href="/profile">Profile</a> 
        </h2><hr>
		<p>	{% if loginstatus %}
			<p>Username: {{username}}</p>
			<p>Stories: {{number_stories}}</p>
			{% for story in flask_list_stories %}
				<p><a href=/stories?id={{story[3]}}>{{story[1]}}</a></p>
			{% endfor %}
		{% else %}
			Please login.
		{% endif %}</p>
	</body>
</html>