<!DOCTYPE html>
<html>
	<head>
		<title>Search</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>
		<div id="login_logout_button">
			{% if loginstatus %}
	        <a href="/logout">
	            <button>Logout</button>
	        </a>
	        {% else %}
	        <a href="/login">
	            <button>Login</button>
	        </a>
	        {% endif %}
	    </div>

		<center><img id="logo" src="https://static1.textcraft.net/data1/6/b/6b8e04f9d713d71ce457f85e7001fb05041d67afda39a3ee5e6b4b0d3255bfef95601890afd80709da39a3ee5e6b4b0d3255bfef95601890afd8070905ccb9558d135c6627fbe265fa4dab9d.png"></center>

		<hr><h2>
			<a href="/">Home</a> |
			<a href="/aboutus">About Us</a> |
			<a href="/donate">Donate</a> | 
			<a href="/newstory">New Story</a> |
			<a href="/editstory">Edit Story</a> |
			<a href="/search">Search</a> |
			<a href="/profile">Profile</a> 
		</h2><hr>

        <center>
        	<p>
	            <form action="/search?search="{search}>
	                <input class="textfield" type="text" placeholder="Search..." name="search">
	                <input class="loginbutton" type=submit value=Search>
	              </form>
	        </p>
	    </center>

		<h3>Users</h3>

		{% for user in flask_users_results %}
			<h4><a href=/profile?id={{user[0]}}>{{user[0]}}</a></h4>
		{% endfor %}

		<h3>Stories</h3>

		{% for story in flask_stories_results %}
		<div class="story-container">
			<h4><a href=/stories?id={{story[3]}}>{{story[1]}} by {{story[0]}}</a></h4>
			<p id="date">{{story[4]}}</p>
		</div>
		{% endfor %}

        
	</body>
</html>
