<!DOCTYPE html>
<html>
	<head>
		<title>Minecraft Story Mode</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>
        <div id="login_logout_button">
           <a href="/">
                <button>Back to Home</button>
            </a>
        </div>

		<center><img id="logo" src="https://static1.textcraft.net/data1/6/b/6b8e04f9d713d71ce457f85e7001fb05041d67afda39a3ee5e6b4b0d3255bfef95601890afd80709da39a3ee5e6b4b0d3255bfef95601890afd8070905ccb9558d135c6627fbe265fa4dab9d.png"></center>

		<p>
            {{failmsg}}
        </p>

		<form id = "login" method="POST">
            <p>
                Username:
                <input class="textfield" type=text name=signup_username>
            </p>
            <p>
                Password:
                <input class="textfield" type=password name=signup_password>
            </p>
            <p>
                Type your password again:
                <input class="textfield" type=password name=signup_password_check>
            </p>
            <p><a href="/login">Already have an account? Log in here.</a></p>
            <input class="loginbutton" type=submit value="Sign Up">
        </form>
	</body>
</html>
