<!DOCTYPE html>
<html>
	<head>
		<title>Minecraft Story Mode</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

	<body>
        <div id="login_logout_button">
            {% if loginstatus %}
            <a href="/logout">
                <button>Logout</button>
            </a>
            {% else %}
            <a href="/login">
                <button>Login</button>
            </a>
            {% endif %}
        </div>

		<center><a href="/"><img id="logo" src="https://static1.textcraft.net/data1/6/b/6b8e04f9d713d71ce457f85e7001fb05041d67afda39a3ee5e6b4b0d3255bfef95601890afd80709da39a3ee5e6b4b0d3255bfef95601890afd8070905ccb9558d135c6627fbe265fa4dab9d.png"></a></center>

        <hr><h2>
			<a href="/">Home</a> |
			<a href="/aboutus">About Us</a> |
			<a href="/donate">Donate</a> | 
			<a href="/newstory">New Story</a> |
			<a href="/editstory">Edit Story</a> |
			<a href="/search">Search</a> |
			<a href="/profile">Profile</a> 
		</h2><hr>
        
        {% if valid %}
        	<br><br><div class="story-container">
	            <h4 style="color: rgb(20,225,100);">{{recent_story_title}} by {{recent_story_user}}</h4>
			    <p id="date">{{recent_story_date}}</p>
			    <p>{{recent_story_content}}</p>
			</div>
        {% else %}
            {{failmsg}}
        {% endif %}
	</body>
</html>
